@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=IBM+Plex+Mono:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark: #0e091b;
  --dark-200: #171228;
  --grey: #aeaeae;
  --light: #f9f9f9;
  --purple: #873eff;
  --green: #04d361;
}

html {
  font-size: 62.5%; // 1rem = 10px
  scroll-behavior: smooth;
  @media (min-width: 768px) {
    font-size: 68.75%; // +1px
  }
  @media (min-width: 1024px) {
    font-size: 75%; // +1px
  }
}

body {
  font-size: 1.6rem;
  background: var(--dark);
}

a {
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
}

li {
  list-style: none;
}

h1,
h2,
h3 {
  font-family: "IBM Plex Mono", sans-serif;
  color: var(--light);
}

p {
  font-family: "DM Sans", sans-serif;
  color: var(--grey);
}
