.Container {
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: 90vw;
    padding: 0;
  }

  @media (min-width: 1024px) {
    max-width: 80vw;
  }
}

.Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;

  .FooterLinks {
    span {
      color: var(--grey);
      font-size: 1.4rem;
      font-family: "IBM Plex Mono", sans-serif;

      & + span {
        margin-left: 20px;
      }
    }
  }
}
