@import '../../styles/medias.scss';

.container {
  height: 100vh;
  width: 100%;
  background-image: url('/images/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include mobile {
    background-position: 75%;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(
      90deg,
      rgba(11, 12, 16, 0.6) 0%,
      rgba(11, 12, 16, 0.4) 52.08%,
      rgba(12, 12, 16, 0.6) 100%
    );
  }

  .content {
    z-index: 3;
    position: relative;
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .gameBanner {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;

      max-width: 450px;
      width: 100%;
      padding: 0 20px;

      img {
        object-fit: fill;
        width: 100%;
      }

      > button {
        background: var(--secondary);
        border: none;
        cursor: pointer;
        width: 100%;
        height: 70px;
        position: relative;
        clip-path: polygon(4% 0, 100% 0, 100% 100%, 0 100%, 0 20%);
        z-index: -1;

        > span {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 24px;
          
          background-color: var(--primary);
          font-size: 20px;
          color: var(--white);
          text-transform: uppercase;

          position: absolute;
          clip-path: polygon(4% 0, 100% 0, 100% 100%, 0 100%, 0 20%);
          inset: 2px;
        }
      }
    }
  }
}
