.Wrapper {
  @media (min-width: 768px) {
    height: calc(100vh - 10rem);
  }
}

.MainContent {
  height: 100%;
  padding: 20px 25px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row-reverse;
    gap: 2rem;
    justify-content: space-between;
    overflow: hidden;

    .Illustration {
      max-width: 35rem;
    }

    .Intro {
      max-width: 47rem;
    }
  }

  @media (min-width: 1024px) {
    flex-direction: row-reverse;
    justify-content: space-between;

    .Illustration {
      max-width: 50rem;
    }
  }

  @media (min-width: 1300px) {
    max-width: 1300px;
  }

  .Illustration {
    width: 100%;
    animation: bounce;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
  }
}

.Intro {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  animation: fade 1s;

  .Title {
    display: flex;
    flex-direction: column-reverse;

    h1 {
      font-size: 5.6rem;
      line-height: 6rem;
      font-weight: 900;
      max-width: 35rem;
    }

    h2 {
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 2.7rem;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }
  }

  span {
    font-style: normal;
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 2.5rem;
    margin-top: 5px;
  }

  .ButtonsBox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 5rem;

    @media (min-width: 768px) {
      flex-direction: row;
      img {
        width: 22.25rem;
      }
    }

    img {
      width: 100%;
    }
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(40%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
