* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #3ea1db;
  --blue-dark: #574ae8;
  --white: #fff;

  --title: #313131;
  --text: #b6b6b6;

  --linear: linear-gradient(90deg, #574ae8 0%, #3ea1db 100%);
}

html {
  font-size: 62.5%;

  @media (max-width: 720px) {
    font-size: 59.5%;
  }

  @media (max-width: 480px) {
    font-size: 57.5%;
  }
}

body {
  font: 400 1.6rem "Lexend Deca", sans-serif;
  background: #f3f5f7;
}

.postSection {
  margin: 0 auto;
  padding: 5rem 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  @media (min-width: 768px) {
    max-width: 900px;
    margin: 0 auto;
  }
}
