.Card {
  background: var(--bgCard);
  display: flex;
  justify-content:center;
  align-items: center;
  height: 250px;
  overflow: hidden;
  cursor: pointer;
 
  img {
    width: 250px;
    height: 150px;
   
    transition: all 400ms ease-in-out;

    &:hover {
      width: 300px;
      height: 180px;
    }
  }
}
