* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;

  @media (min-width: 768px) {
    font-size: 64.5%;
  }
  @media (min-width: 1024px) {
    font-size: 68.5%;
  }
}

:root {
  --white: #F9F9F9;
  --green: #658E76;
  --green-dark: #5d866e;
}

html {
  scroll-behavior: smooth;
}

li, a {
  list-style: none;
  text-decoration: none;
}

h1, h2, h3, p, span, button, a {
  color: var(--white)
}

body {
  background: linear-gradient(130.02deg, #628E75 0.66%, #1A4855 83.32%);
  min-height: 100vh;
}