.Container {
  background: var(--white-300);
  width: 100%;
}

.Grid {
  display: grid;
  padding: 8rem 2rem;
  margin: 0 auto;
  gap: 3rem;

  @media(min-width: 560px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media(min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1400px;
  }
}