.Container {
  padding: 5.8rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.Header {
  width: 100%;
  margin-bottom: 5.8rem;
  text-align: center;

  h2 {
    font-weight: 600;
    color: var(--title);
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
  }

  p {
    color: #474747;
    font-size: 16px;
    line-height: 3rem;
    font-weight: 500;
  }
}

.Grid {
  display: grid;
  gap: 3rem;

  @media(min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media(min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media(min-width: 1280px) {
    grid-template-columns: repeat(4, 1fr);
  }
}